/* Main content block styles */

.rightBlock {
    // position: absolute;
    // bottom: 5vh;
    // right: 5%;
    // margin: 5% 0% 0% 50%;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    overflow: auto;
    max-height: 90%;
    width: 45%;
    margin-left: 10%;
    margin-top: 3vh;
    padding-right: 40px;
    a {
        text-align: end;
        height: fit-content;
        margin-top: 70px;
        margin-right: 10px;
        width: 100%;
    }
}

.rightBlock::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.infoContainer {
    flex-direction: column;
    align-items: end;
    text-align: right;
    margin-right: 10px;
    padding-bottom: 10px;
    a {
        margin-top: 10px;
    }
    .socialBox {
        width: fit-content;
        a {
        margin: 0 10px;
        }
    }
    p {
        margin-right: 10px;
    }
}

.projects {
    text-align: end;
    justify-content: end;
    height: 100%;
    h2 {
        font-size: 1.1rem;
        margin-top: 20px;
    }
    h3 {
        font-size: 1rem;
        margin: 20px 0 5px 0;
    }
    a {
        font-size: 0.8rem;
    }
    p {
        font-size: 0.8rem;
    }
}

.projectPadding {
    padding-right: 10px;
}

.projectContainer {
    p {
        margin: 0;
        padding-top: 2px;
    }
}

.smallInfoLinks {
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    padding-bottom: 5px;
    p {
        margin: 0;
        padding: 0 10px;
        text-align: center;
    }
    a {
        margin: 0;
        text-align: center;
    }
}

.redBar2 {
    height: 20px;
    width: 45%;
    background-color: red;
    justify-content: end;
}

.rotateTextMain {
    writing-mode: vertical-rl;
    padding-bottom: 5px;
    text-align: end;
}

p {
    padding-left: 70px;
    transition: 0.3s;
}

.contactLink {
    z-index: 10;
}

footer {
    width: 100%;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    height: 30vh;
    position: fixed;
    right: 10%;
    top: 60vh;
    p {
        margin: 0;
        padding: 0;
    }
}