@use "./mixins" as *;

/* Footer styles */

footer {
    @include mq('max-width') {
        right: calc(55% - 750px);   
    }
    @include mq('tablet'){
        height: 30vh;
    }
    width: 100%;
    max-width: 1500px;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    height: auto;
    position: fixed;
    top: 60vh;
    right: 10%;
    z-index: -10;

    .rotateTextFooter {
        writing-mode: vertical-rl;
        padding-bottom: 5px;
        text-align: end;
    }

    .redBar2 {
        @include mq('tablet'){
            width: 40%;
        }
        height: 20px;
        width: 80%;
        background-color: red;
        justify-content: end;
    }
}

