@use "./mixins" as *;

/* Global & wrapper styles */

/* Global styles/Stripping auto-styling */

body {
    background-color: #F7D58D;
    overflow: hidden;
}

h1, h2 {
    margin: 0;
}

h3 {
    @include mq('tablet'){
        margin-top: 15px;
    }
    margin: 5px;
    margin-top: 0;
}

h5 {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

p {
    @include mq('tablet') {
        flex-direction: row;    
        flex-wrap: wrap;
    }
    transition: 0.3s;
    margin: 0;
    padding: 0;
    text-align: right;
}
  
a {
    color: #000;
    text-decoration: none;
    transition: 0.1s;
}

a:hover,
a:active,
a:focus {
    color: red;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

figure {
    @include mq('tablet'){
        height: 240px;
        width: 240px;
    }
    margin: 0;
    height: 120px;
    width: 120px;
    flex-shrink: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
  }

/* Wrapper & flexbox styles */
.wrapper {
    @include mq('tablet') {
        flex-direction: row;    
        flex-wrap: wrap;
        height: 90vh;
    }
    margin: 0 auto;
    margin-top: 5vh;
    width: 90%;
    max-width: 1500px;
    height: 75vh;
    border: 3px solid #000;
    position: relative;
    padding: 5%;
    flex-wrap: nowrap;
    flex-direction: column;
}

.flexbox {
    display: flex;
}

/* Content block styles */
.mainContentBlock {
    @include mq('tablet') {
        width: 45%;
        padding-right: 40px;
        margin-top: 3vh;
        padding-bottom: 0;
        max-height: 90%;
        margin-bottom: 0;
    }
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    overflow: auto;
    max-height: 70%;
    width: 100%;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: 25%;
    padding-right: 14vw;
    scrollbar-width: none;

    a {
        text-align: end;
        height: fit-content;
        margin-top: 70px;
        margin-right: 10px;
        width: 100%;
    }
}

.mainContentBlock::-webkit-scrollbar {
    display: none;
}