@use "./mixins" as *;

/* Global & wrapper styles */

/* Global styles */
html {
    font-size: 125%;
    font-family: 'Puritan', sans-serif;
    font-weight: 700;
}

body {
    background-color: #F7D58D;
    overflow: hidden;
}

h5 {
    @include mq('tablet'){
        font-size: 0.6rem;
    }
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 0.3rem;
}

p {
    @include mq('tablet') {
        flex-direction: row;    
        flex-wrap: wrap;
        font-size: 1rem;
        // padding-left: 10%;
    }
    padding-left: 0;
    transition: 0.3s;
    margin: 0;
    text-align: right;
    font-size: 0.75rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
a {
    @include mq('tablet'){
        font-size: 1rem;
    }
    color: #0D0D0D;
    text-decoration: none;
    font-size: 0.75rem;
}

ul {
    list-style: none;
    // width: 30%;
    margin: 0;
    padding: 0;
}

figure {
    @include mq('tablet'){
        height: 240px;
        width: 240px;
    }
    margin: 0;
    height: 120px;
    width: 120px;
    flex-shrink: 0;
}

/* Wrapper, flexbox, and content block styles */
.wrapper {
    @include mq('tablet') {
        flex-direction: row;    
        flex-wrap: wrap;
        height: 90vh;
        margin-top: 5vh;
    }
    margin: 0 auto;
    margin-top: 5vh;
    width: 90%;
    max-width: 1500px;
    height: 75vh;
    border: 3px solid #000;
    position: relative;
    padding: 5%;
    flex-wrap: nowrap;
    flex-direction: column;
}

.flexbox {
    display: flex;
}


/* New additions after sorting of pages */
.rightBlock {
    // position: absolute;
    // bottom: 5vh;
    // right: 5%;
    // margin: 5% 0% 0% 50%;
    @include mq('tablet') {
        width: 45%;
        padding-right: 40px;
        margin-top: 3vh;
        padding-bottom: 0;
        max-height: 90%;
        margin-bottom: 0;
        // position: relative;
        // height: auto;
    }
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    overflow-y: auto;
    max-height: 70%;
    width: 90%;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: 25%;
    padding-right: 14vw;
    scrollbar-width: none;
    // position: absolute;
    // right: 10%;
    // top: 40%;

    a {
        text-align: end;
        height: fit-content;
        margin-top: 70px;
        margin-right: 10px;
        width: 100%;
    }
}

.rightBlock::-webkit-scrollbar {
    display: none;
}