@use './mixins' as *;

/* Header styles */

/* Header block formatting */
.headerBlock {
    @include mq('tablet'){
        width: 45%;
    }
    width: 100%;
    .topH3 {
        @include mq('tablet'){
            padding-top: 25px;
        }
        padding-top: 31px;
    }
}

/* Red bar */
.redBar {
    @include mq('tablet'){
        width: 100%;
    }
    height: 20px;
    min-width: 375px;
    width: 80vw;
    background-color: red;
}

/* Menu styles */
.menu {
    position: relative;
    z-index: 10;
    h2 {
        text-align: end;
    }
    .rotateText {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        padding-bottom: 5px;
        text-align: start;
    }
    ul {
        @include mq('tablet'){
            left: 13%
        }
        opacity: 0%;
        left: 10%;
        padding-top: -20px;
        transition: 0.3s;
        position: absolute;
        z-index: 20;
    }
}