@use './variables' as *;

/* Mixins */

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// Form mixins
@mixin form-input($border) {
    border: $border;
    border-bottom: 1px solid red;
    background-color: transparent;
}

@mixin form-textarea($height) {
    border: 1px solid red;
    background-color: transparent;
    height: $height;
}

@mixin form-button($width) {
    display: flex;
    width: $width;
    justify-content: center;
    margin: 20px 0;
}