@use "./mixins" as *;

/* Projects styles */

.projects {
    overflow: auto;
    // scrollbar-width: none;
    scrollbar-color: red transparent;
    text-align: end;
    height: 100%;
    flex-direction: column;
    h2 {
        margin-top: 20px;
    }
    h3 {
        margin: 20px 0 5px 0;
    }
    .projectContainer {
        p {
            margin: 0;
            padding-top: 2px;
        }
        .smallInfoLinks {
            height: fit-content;
            width: fit-content;
            margin-left: auto;
            padding-bottom: 5px;
            p {
                padding: 0 10px;
                text-align: center;
            }
            a {
                margin: 0;
                text-align: center;
            }
        }
    }
    .extraMargin {
        margin-bottom: 20px;
    }
}

// .projects::-webkit-scrollbar {
//     background: transparent;    
// }

// .projects::-webkit-scrollbar-thumb {
//     background: red;    
// }

