@use "./mixins" as *;

/* Projects styles */

.projects {
    // This justify-content thing is the key style difference between the scroll that locks to the top, and non-scroll that locks to the bottom of the div. could maybe be done with a MQ that hits at a certain screen height
    // justify-content: end;

    // @include mqv(1000px) {
    //     justify-content: end;    
    // }
    h2,
    h3,
    h5,
    p,
    a {
        z-index: 10;
    }

    text-align: end;
    height: 100%;
    flex-direction: column;
    padding-right: 10px;
    h2 {
        margin-top: 20px;
    }
    h3 {
        margin: 20px 0 5px 0;
    }
    .projectContainer {
        p {
            margin: 0;
            padding-top: 2px;
        }
        .smallInfoLinks {
            height: fit-content;
            width: fit-content;
            margin-left: auto;
            padding-bottom: 5px;
            p {
                padding: 0 10px;
                text-align: center;
            }
            a {
                margin: 0;
                text-align: center;
            }
        }
    }
    .extraMargin {
        margin-bottom: 20px;
    }
}

