@use "./mixins" as *;

/* Projects styles */

.projects {
    // This justify-content thing is the key style difference between the scroll that locks to the top, and non-scroll that locks to the bottom of the div. could maybe be done with a MQ that hits at a certain screen height
    // justify-content: end;

    // @include mqv(1000px) {
    //     justify-content: end;    
    // }

    text-align: end;
    height: 100%;
    flex-direction: column;
    padding-right: 10px;

    h2 {
        @include mq('tablet'){
            font-size: 1.1rem;
        }
        font-size: 0.825rem;
        margin-top: 20px;
    }

    h3 {
        @include mq('tablet'){
            font-size: 1rem;
        }
        font-size: 0.75rem;
        margin: 20px 0 5px 0;
    }

    a {
        @include mq('tablet'){
            font-size: 0.8rem;
        }
        font-size: 0.6rem;
    }

    p {
        @include mq('tablet'){
            font-size: 0.8rem;
        }
        font-size: 0.6rem;
    }

    .projectContainer {
        p {
            margin: 0;
            padding-top: 2px;
        }

        .smallInfoLinks {
            height: fit-content;
            width: fit-content;
            margin-left: auto;
            padding-bottom: 5px;
            p {
                margin: 0;
                padding: 0 10px;
                text-align: center;
            }
            a {
                margin: 0;
                text-align: center;
            }
        }
    }

    .extraMargin {
        margin-bottom: 20px;
    }
}

// .justifyProjects {
//     justify-content: end;
// }

