@use "./mixins" as *;

/* Typography styles */

html {
    font-size: 125%;
    font-family: 'Puritan', sans-serif;
    font-weight: 700;
}

h2 {
    @include mq('tablet'){
        // font-size: 1.5rem;
        font-size: 1.8rem;
    }
    // font-size: 1.125rem;
    font-size: 1.35rem;
}

h3 {
    @include mq('tablet'){
        // font-size: 1.5rem;
        font-size: 2.1rem;
    }
    // font-size: 0.75rem;
    font-size: 0.9rem;
    // started here
    // 0.9 up by 0.15 aka 20% increase (yes! it's easy! :) )
}

h5 {
    @include mq('tablet'){
        // font-size: 0.6rem; this is the original one
        // font-size: 0.72rem; this is the +20% one
        // these two are the headings, they are both under the limit
        // it might be best to just match them to other headings, rather than bump everything else up, as this is just for the footnotes
        // 0.72rem
    }
    // font-size: 0.475rem; this is the original one
    // font-size: 0.57rem; this is the +20% one
    font-size: 0.9rem;
}

p {
    @include mq('tablet') {
        // font-size: 1rem;
        font-size: 1.2rem;
    }
    // font-size: 0.75rem;
        font-size: 0.9rem;
}

a {
    @include mq('tablet'){
        // font-size: 1rem;
        font-size: 1.2rem;
    }
    // font-size: 0.75rem;
    font-size: 0.9rem;
}

button {
    font-family: 'Puritan', sans-serif;
    font-weight: 700;
}

.fa {
    @include mq('tablet'){
        // font-size: 1.5rem;
        font-size: 1.8rem;
    }
    // font-size: 1.125rem;
    font-size: 1.35rem;
}

.fontLight {
    @include mq('tablet'){
        // font-size: 2rem;
        font-size: 2.4rem;
        letter-spacing: 0.2rem;
    }
    font-weight: 400;
    // font-size: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.projects {

    h2 {
        @include mq('tablet'){
            // font-size: 1.1rem;
            font-size: 1.32rem;
        }
        // font-size: 0.825rem;
        // font-size: 0.99rem;
        font-size: 1.2rem;

    }

    h3 {
        @include mq('tablet'){
            // font-size: 1rem;
            // font-size: 1.2rem;
        }
        // font-size: 0.75rem;
        // font-size: 0.9rem;
        font-size: 1.2rem;
    }

    a,
    p {
        @include mq('tablet'){
            // font-size: 0.8rem;
            // font-size: 0.96rem;
            font-size: 0.96rem;
        }
        // font-size: 0.6rem;
        // font-size: 0.72rem;
        font-size: 0.9rem;
    }

    // p {
    //     @include mq('tablet'){
    //         font-size: 0.8rem;
    //     }
    //     font-size: 0.6rem;
    // }
}

.infoContainer {
    p {
        @include mq('tablet'){
            font-size: 0.8rem;
        }
        font-size: 0.6rem;
    }
}